@{
Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
ViewBag.Title = "登入";
}
@section css{

}

@section js{

}

@section page_title{

}
@section location{
<li class="breadcrumb-item">@Html.ActionLink("首頁", "Index", "Home")</li>
<li class="breadcrumb-item active">@Html.ActionLink("登入", "Index", "Login")</li>
}
@section scripts{
<script>
    // 攔截表單提交，並使用 AJAX 進行處理
    $(document).ready(function () {
        $('form').on('submit', function (e) {
            e.preventDefault(); // 防止表單默認提交
            var form = $(this);
            var url = form.attr('action');

            // 發送 AJAX 請求
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(), // 將表單資料序列化
                success: function (data) {
                    handleResponse(data);
                },
                error: function (xhr, status, error) {
                    handleError(xhr, status, error);
                }
            });
        });
    });

    // 處理成功或錯誤的 JSON 響應
    function handleResponse(data) {
        if (data.error) {
            // 使用 SweetAlert2 顯示錯誤訊息
            Swal.fire({
                icon: 'error',
                title: '錯誤',
                text: data.error,
                confirmButtonText: '確定'
            });
        } else if (data.message) {
                window.location.href = data.redirectUrl;
            }
        }
    

    function handleError(xhr, status, error) {
        console.error(error);
        // 使用 SweetAlert2 顯示錯誤訊息
        Swal.fire({
            icon: 'error',
            title: '伺服器錯誤',
            text: '發生錯誤，請稍後再試。',
            confirmButtonText: '確定'
        });
    }
</script>
}

<div class="row">
    <div class="login-box" style="float:none;margin:auto;">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a class="h5"><b>中華民國工業安全衛生協會</b></a><br>
                <a class="h7">安全與環保技術服務處</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">請輸入您的帳號及密碼</p>
                <form action="/Login" method="post">
                    @Html.AntiForgeryToken()
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="Username" placeholder="Username">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 text-center" style=" margin:auto">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button><p></p>
                            <!-- 封印創建帳號 -->
                            <!-- <a href="">創建帳號</a> -->
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.login-box -->
</div>